<ion-header>
  <ion-toolbar>
    <ion-title>Monitor Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button expand="block" (click)="hdmi()"> Switch to HDMI </ion-button>

  <ion-button expand="block" (click)="dp()"> Switch to DisplayPort </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Operation Log</ion-card-title>
      <!-- <ion-card-subtitle></ion-card-subtitle> -->
    </ion-card-header>

    <ion-card-content>
      @for (item of operationLog; track $index) {
      <div class="operation-log-entry">
        ➡️ {{ item?.message || "Performed an UNKNOWN operation"}}
      </div>
      }
    </ion-card-content>
  </ion-card>
</ion-content>
